In [2]:
import os

In [46]:
import ast

In [25]:
import numpy as np
import pandas as pd

In [60]:
filelst = os.listdir('./Downloads/siteTwo')

In [61]:
result = pd.DataFrame(filelst,columns=['image'])

In [64]:
#result.to_csv('hyundai_siteTwo.csv',index=False)

text_file = open("siteOne_result.txt", "r")
lines = text_file.readlines()
text_file.close()

In [73]:
txt = pd.read_csv('siteTwo_result.txt',header=None)

In [74]:
txt

                                                    0
0   [[5.0, 0.9801816344261169, 0.5723161834240573,...
1   [[5.0, 0.970565140247345, 0.48513507178697357,...
2   [[5.0, 0.8995633125305176, 0.35179408797419776...
3   [[5.0, 0.9723071455955505, 0.4525189156132324,...
4   [[5.0, 0.8384732604026794, 0.6015328711776957,...
..                                                ...
75  [[2.0, 0.954913318157196, 0.5624528159985922, ...
76  [[5.0, 0.7259454727172852, 0.6496890078488998,...
77  [[5.0, 0.9889770150184631, 0.371066164361384, ...
78  [[5.0, 0.9650653004646301, 0.4916399443963358,...
79  [[2.0, 0.9907962083816528, 0.5214252129024448,...

[80 rows x 1 columns]

In [75]:
result['label'] = np.asarray(txt)

In [76]:
result

                  image                                              label
0   20200715_131357.jpg  [[5.0, 0.9801816344261169, 0.5723161834240573,...
1   20200715_131425.jpg  [[5.0, 0.970565140247345, 0.48513507178697357,...
2   20200715_132104.jpg  [[5.0, 0.8995633125305176, 0.35179408797419776...
3   20200715_131419.jpg  [[5.0, 0.9723071455955505, 0.4525189156132324,...
4   20200715_131627.jpg  [[5.0, 0.8384732604026794, 0.6015328711776957,...
..                  ...                                                ...
75  20200715_132040.jpg  [[2.0, 0.954913318157196, 0.5624528159985922, ...
76  20200715_131616.jpg  [[5.0, 0.7259454727172852, 0.6496890078488998,...
77  20200715_132109.jpg  [[5.0, 0.9889770150184631, 0.371066164361384, ...
78  20200715_131414.jpg  [[5.0, 0.9650653004646301, 0.4916399443963358,...
79  20200715_132121.jpg  [[2.0, 0.9907962083816528, 0.5214252129024448,...

[80 rows x 2 columns]

In [41]:
#to run drawing_bbox.py
#result.to_csv('drawing_box_siteOne.csv',index=False)

In [77]:
result['label']=result['label'].apply(lambda x : ast.literal_eval(x))

In [78]:
result['label']=result['label'].apply(lambda x: np.asarray(pd.DataFrame(x).groupby(0).nth(0).reset_index()))

In [79]:
result['label']=result['label'].apply(lambda x : np.around(x[:,:2],2))

In [80]:
result.to_csv('site_two_top_box.csv')